@red: #680600;
@orange: #ffab00;
@purple: #e91e63;
@blue: #004380;
@green: #006F04;
@grey: #708486;
@gold: #ad835a;
@dark: #1E2329;
@darken: #14191E;

@import "~muse-ui/less/vars.less"; // default basic variable

@fontFamily: Roboto, Lato, sans-serif;  // font

// primary color and accent color
@primaryColor: @dark;           // primary color
@darkerPrimaryColor: @primaryColor;  // darker primary color
@lighterPrimaryColor: @primaryColor;      // lighter primary color
@accentColor: @red500;             // accent color
@darkerAccentColor: @red500;        // darker accent color
@lighterAccentColor: @red500;       // lighter accent color

// text color
@textColor: @gold;
@secondaryTextColor: @gold;
@alternateTextColor: @gold;
@borderColor: @gold;
@disabledColor: fade(@gold, 50%);

// background
@backgroundColor: @dark;           // background color
@statusBarBackgroundColor: @darken; // useless
@appbarBackgroundColor: @darken; // useless in the appbar component
@dialogBackgroundColor: @darken; // dialogs、 cards、 paper background

// icon color
@activeIconColor: fade(@fullWhite, 50%);
@inActiveIconColor: fade(@fullWhite, 50%);

@import "~muse-ui/less/theme-vars.less";  // default component variable

// change the component variable
@avatarBackgroundColor: @gold;
@datePickerHeaderColor: fade(@fullWhite, 12%);
@timePickerHeaderColor: fade(@fullWhite, 12%);
@timePickerClockCircleColor: fade(@fullWhite, 12%);
@chipColor: lighten(@alternateTextColor, 12%);
@floatButtonDisabledColor: lighten(@alternateTextColor, 12%);

@tableRowHoverBackgroundColor: fade(@textColor, 10%);
@tableRowSelectedBackgroundColor: fade(@textColor, 5%);

@listLeftIconColor: @primaryColor;

@import "~muse-ui/less/theme.less"; // style related to theme